<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/view/home/dashboard}">Home Page</a>
        </div>
    </div>
</nav>

<br><br><br>

<!-- Registration Form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- Success Message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered to our awesome app!</div>
            </div>

            <h2>Registration</h2>

            <form th:action="@{/view/home/create}" th:object="${registrationDto}" method="post">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" th:field="*{username}" required autofocus />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" th:field="*{email}" required />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" th:field="*{password}" required />
                </div>

                <div class="form-group">
                    <label for="reconfirmedPassword">Confirm Password</label>
                    <input id="reconfirmedPassword" type="password" class="form-control" th:field="*{reconfirmedPassword}" required />
                </div>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" required />
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" th:field="*{lastName}" required />
                </div>

                <div class="form-group">
                    <label for="homeAddress">Home Address</label>
                    <input id="homeAddress" class="form-control" th:field="*{homeAddress}" required />
                </div>

                <div class="form-group">
                    <label for="cellNumber">Cell Number</label>
                    <input id="cellNumber" type="tel" pattern="[0-9]{10}" class="form-control" th:field="*{cellNumber}" required />
                </div>

                <div class="form-group">
                    <label for="cnicNumber">CNIC Number</label>
                    <input id="cnicNumber" type="text" maxlength="13" pattern="[0-9]{13}" class="form-control" th:field="*{cnicNumber}" required />
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <select id="role" class="form-control" th:field="*{role}">
                        <option value="">-- Select Role --</option>
                        <option th:each="r : ${T(pk.imbilalbutt.bussiness.common.AppConstants.Roles).values()}"
                                th:value="${r}" th:text="${r}">Role</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered?
                        <a th:href="@{/view/home/login}">Login here</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Required Bootstrap JS (optional but good to have) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+sjuKjE3Kz0sXnG5pQpU2nMyZgfmaWo2u3czCE8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWbBvS3MuGJZ2ztzeD0Vkkdf+6FQnC4jYkA+Be6"
        crossorigin="anonymous"></script>
</body>
</html>
